/** Global */
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/Twinkle.jpg');
    min-height: 100%;
}

/** About **/
img.img-education { width: 35%; margin-bottom: 10px; filter: brightness(1) grayscale(100%); opacity: .5;}
	img.img-education.active { filter: none; opacity: 1; }

/** Portfolio **/
#portfolio img { transition: .5s ease; filter: brightness(1) grayscale(100%); opacity: .5; }
	#portfolio img:hover { filter: none; opacity: 1; }

/** Career **/
.career-logos img { width: 15%; padding: 0 0.8rem 0 0.8rem; transition: .5s ease; filter: brightness(1) grayscale(100%); opacity: .5; }
	.career-logos img:hover { filter: grayscale(0%); opacity: 1; }

/** Custom Styles **/
.opacity-50 { opacity: 0.50 }
.opacity-60 { opacity: 0.60 }