<section id="1">
    <div class="d-flex h-100 align-items-center">
    <div class="container" id="particles-js">
        <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <header class="text-center">
            <h2 class="text-uppercase lined">About Me</h2>
            </header>
            <p class="lead">The ever-changing trends in web design keeps me going. <br/>There’s always something new to learn.</p>
            <p class="lead">I focus on <strong class="text-danger">cross-platform, responsive and up-to-date web &amp; mobile designs</strong>. It’s awesome!</p>
            <p class="lead">...I do enjoy photography, Japanese culture, fashion, travelling and music as well.</p>

            
        </div>
        <div class="col-lg-6"><img src="assets/img/Twinkle.jpg" alt="..." class="img-fluid rounded-circle d-block mx-auto"></div>
        </div>
    </div>
    </div>
</section>
<section class="bg-gray">
    <div class="d-flex h-100 align-items-center">
    <div class="container">
        <header class="mb-5 text-center">
        <h2 class="text-uppercase lined">Services</h2>
        </header>
        <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="icon mb-3"><i class="fas fa-desktop"></i></div>
            <h4 class="text-uppercase lined lined-compact">Responsive design</h4>
            <p>Minimalistic and clean design suitable for web and mobile devices</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="icon mb-3"><i class="fas fa-user"></i></div>
            <h4 class="text-uppercase lined lined-compact">UI &amp; UX</h4>
            <p>Market research, user interactions, A/B split testing</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="icon mb-3"><i class="fas fa-globe-americas"></i></div>
            <h4 class="text-uppercase lined lined-compact">SEO</h4>
            <p class="text-mted">Use of analytics and various optimisations to boost exposure</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="icon mb-3"><i class="far fa-lightbulb"></i></div>
            <h4 class="text-uppercase lined lined-compact">Graphics</h4>
            <p class="text-mted">SVG icons and proper graphics using Adobe Photoshop and Illustrator</p>
        </div>
        
        </div>
    </div>
    </div>
</section>