<section id="1">
    <div class="d-flex h-100 align-items-center">
    <div class="container">
        <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <header class="text-center">
            <h2 class="text-uppercase lined">About Me</h2>
            </header>
            <p class="lead">The ever-changing trends in web design keeps me going. <br/>There’s always something new to learn.</p>
            <p class="lead">I focus on <span class="text-danger bold">cross-platform, responsive and up-to-date web &amp; mobile designs</span>. It’s awesome!</p>
            <p class="lead">...I do enjoy photography, Japanese culture, fashion, travelling and music as well.</p>

            
        </div>
        <div class="col-lg-6"><img src="../../assets/img/Twinkle.jpg" alt="..." class="img-fluid rounded-circle d-block mx-auto"></div>
        </div>
    </div>
    </div>
</section>
<section class="bg-gray">
    <div class="d-flex h-100 align-items-center">
    <div class="container">
        <header class="mb-5 text-center">
        <h2 class="text-uppercase lined">Services</h2>
        </header>
        <div class="row text-center">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="icon mb-3"><i class="fas fa-desktop"></i></div>
            <h4 class="text-uppercase lined lined-compact">Web design</h4>
            <p class="text-mted">Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="icon mb-3"><i class="fas fa-print"></i></div>
            <h4 class="text-uppercase lined lined-compact">Print</h4>
            <p class="text-mted">Advantage old had otherwise sincerity dependent additions. It in adapted natural.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="icon mb-3"><i class="fas fa-globe-americas"></i></div>
            <h4 class="text-uppercase lined lined-compact">SEO and SEM</h4>
            <p class="text-mted">Am terminated it excellence invitation projection as. She graceful shy.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="icon mb-3"><i class="far fa-lightbulb"></i></div>
            <h4 class="text-uppercase lined lined-compact">consulting</h4>
            <p class="text-mted">Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="icon mb-3"><i class="far fa-envelope"></i></div>
            <h4 class="text-uppercase lined lined-compact">Email marketing</h4>
            <p class="text-mted">Advantage old had otherwise sincerity dependent additions. It in adapted natural.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="icon mb-3"><i class="fas fa-user"></i></div>
            <h4 class="text-uppercase lined lined-compact">UI &amp; UX</h4>
            <p class="text-mted">Am terminated it excellence invitation projection as. She graceful shy.</p>
        </div>
        </div>
    </div>
    </div>
</section>