<section>
    <div class="d-flex h-100 align-items-center">
    <div class="container">
        <header class="text-center mb-5">
        <h2 class="text-uppercase lined">Portfolio</h2>
        </header>
        <div class="row">
        <div class="col-lg-12 text-center">
            <p>Ranging from <strong class="text-danger">template-based websites to various responsive web and mobile applications</strong></p>
            <p>Here are some of my works...</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4"><a href="assets/img/Aviva-Website.png" data-lightbox="image-1" data-title="Wireframing and development for Careers section revamp" class="d-block mb-1"><img src="assets/img/Aviva-Website.png" alt="..." class="img-fluid d-block mx-auto"></a></div>
        <div class="col-lg-4 col-md-6 mb-4"><a href="assets/img/Aviva-EzSnap.png" data-lightbox="image-1" data-title="Responsive UI Design for Aviva EzSnap" class="d-block mb-1"><img src="assets/img/Aviva-EzSnap.png" alt="..." class="img-fluid d-block mx-auto"></a></div>
        <div class="col-lg-4 col-md-6 mb-4"><a href="assets/img/Employment-History-Grid.png" data-lightbox="image-1" data-title="UI Design for new search query feature" class="d-block mb-1"><img src="assets/img/Employment-History-Grid.png" alt="..." class="img-fluid d-block mx-auto"></a></div>
        <div class="col-lg-4 col-md-6 mb-4"><a href="assets/img/DirectAsia-MyAccount-Revamp.png" data-lightbox="image-1" data-title="User research and responsive UI design and development for MyAccount revamp" class="d-block mb-1"><img src="assets/img/DirectAsia-MyAccount-Revamp.png" alt="..." class="img-fluid d-block mx-auto"></a></div>
        <div class="col-lg-4 col-md-6 mb-4"><a href="assets/img/tutti_ipad.png" data-lightbox="image-1" data-title="Responsive UI Design for new expansion in Thailand" class="d-block mb-1"><img src="assets/img/tutti_ipad.png" alt="..." class="img-fluid d-block mx-auto"></a></div>
        <!-- <div class="col-lg-4 col-md-6 mb-4"><a href="../../assets/img/portfolio-6.jpg" data-lightbox="image-1" data-title="My caption" class="d-block mb-1"><img src="../../assets/img/portfolio-6.jpg" alt="..." class="img-fluid d-block mx-auto"></a></div> -->
        </div>
    </div>
    </div>
</section>