<section>
    <div class="d-flex h-100 align-items-center">
    <div class="container">
        <header class="text-center mb-5">
        <h2 class="text-uppercase lined">Portfolio</h2>
        </header>
        <div class="row">
        <div class="col-lg-12 text-center">
            <p>You can make also a portfolio or image gallery.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4"><a href="../../assets/img/Aviva-Website.png" data-lightbox="image-1" data-title="My caption" class="d-block mb-1"><img src="../../assets/img/Aviva-Website.png" alt="..." class="img-fluid d-block mx-auto"></a></div>
        <div class="col-lg-4 col-md-6 mb-4"><a href="../../assets/img/Aviva-EzSnap.jpg" data-lightbox="image-1" data-title="My caption" class="d-block mb-1"><img src="../../assets/img/Aviva-EzSnap.jpg" alt="..." class="img-fluid d-block mx-auto"></a></div>
        <div class="col-lg-4 col-md-6 mb-4"><a href="../../assets/img/Employment-History-Grid.jpg" data-lightbox="image-1" data-title="My caption" class="d-block mb-1"><img src="../../assets/img/Employment-History-Grid.jpg" alt="..." class="img-fluid d-block mx-auto"></a></div>
        <div class="col-lg-4 col-md-6 mb-4"><a href="../../assets/img/DirectAsia-MyAccount-Revamp.png" data-lightbox="image-1" data-title="My caption" class="d-block mb-1"><img src="../../assets/img/DirectAsia-MyAccount-Revamp.png" alt="..." class="img-fluid d-block mx-auto"></a></div>
        <div class="col-lg-4 col-md-6 mb-4"><a href="../../assets/img/tutti_ipad.png" data-lightbox="image-1" data-title="My caption" class="d-block mb-1"><img src="../../assets/img/tutti_ipad.png" alt="..." class="img-fluid d-block mx-auto"></a></div>
        <!-- <div class="col-lg-4 col-md-6 mb-4"><a href="../../assets/img/portfolio-6.jpg" data-lightbox="image-1" data-title="My caption" class="d-block mb-1"><img src="../../assets/img/portfolio-6.jpg" alt="..." class="img-fluid d-block mx-auto"></a></div> -->
        </div>
    </div>
    </div>
</section>