ul.toolbox li {
    font-size: 3rem;
}

.education {
    img {
        width: 5rem;
        opacity: 0.5;

        &.active {
            opacity: 1;
        }
    }
}

ul.companies li img {
    width: 5rem;
}