<section class="bg-cover bg-center hero">
    <div class="dark-overlay"></div>
    <div class="position-relative z-index-1">
    <div class="container text-center text-white">
        <p class="font-italic lead">Oh, hello, nice to meet you!</p>
        <h1 class="text-uppercase my-4">My name is Twinkle Capote</h1>
        <p class="font-italic lead">UI/UX Designer • Developer</p>
    </div>
    </div>
    <div class="scroll-btn link-scroll"><i class="fas fa-angle-double-down"></i></div>
</section>