<section class="bg-cover bg-center hero">
    <div class="dark-overlay"></div>
    <div class="position-relative z-index-1">
    <div class="container text-center text-white">
        <p class="font-italic lead">Oh, hello, nice to meet you!</p>
        <h1 class="text-uppercase my-4">My name is <span class="text-danger">T</span>winkle <span class="text-danger">C</span>apote</h1>
        <p class="font-italic lead">I <i><span class="text-uppercase">design</span></i> and <span style="font-family:'Courier New', Courier, monospace">&lt; develop /&gt;</span> responsive apps</p>
    </div>
    </div>
    <div class="scroll-btn link-scroll"><i class="fas fa-angle-double-down"></i></div>
</section>